.dub
docs.json
__dummy.html
docs/
modsocsys-grader.so
modsocsys-grader.dylib
modsocsys-grader.dll
modsocsys-grader.a
modsocsys-grader.lib
modsocsys-grader-test-*
*.exe
*.o
*.obj
*.lst
modsocsys-grader
homework
dub.selections.json
canvas_token.txt
source/data
